/* CDN's */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* Generales */
*, *::after, *::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
    transition:.1s all ease;
}

:root{
    /* colores */
    --black:#000;
    --white: #fff;
    --blue: #013d68;
    --yellow: #fde35f;
    --bk-1:#faf8f8;
    /* fonts */
    --font-1: 'Quicksand', sans-serif;
    --ls-1: .3rem;
    /* shadows */
    --shadow-1: 0 0 30px 0 #bebebebd;
    --shadow-2: 0 0 14px .5px rgba(0, 0, 0, 0.5);
    /* border-radius */
    --bd-rad-1:50px;
    --bd-rad-2:30px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    transition: .3s all ease;
    background-color: var(--white);
    border-radius: var(--bd-rad-1);
    border: 3px solid black;
    width: 12vw;
    margin: 1rem;
    padding-block: .9rem;
    letter-spacing: .24rem;
    font-family:var(--font-1);
}
body{
    background-color: var(--bk-1);
}

/* HEADER STYLES */
header{
    box-shadow: var(--shadow-1);
}
header .container{
    font-family: var(--font-1);
    color: var(--blue);
    padding: 1rem;
    padding-block-start: 1.2rem;
}
header .container img{
    width: 11vw;
}


/* MAIN STYLES */
main{
    display:grid;
    grid-template-columns:20vw 55vw 20vw;
    grid-gap: 1rem;
    padding-inline:1rem;
    height: 80vh;
    padding: 1rem;
}
.container-main .sect-1{
    grid-column: 1;
    flex-direction: column;
    gap: 1.3rem;
    background-color: var(--white); 
    border-radius: var(--bd-rad-1); 
    box-shadow: var(--shadow-1);   
}
.container-main .sect-1 .card{
    transition: .2s all ease;
    background-color: var(--black);
    height: 17vh;
    padding:1rem;
    width: 13vw;
    border-radius: var(--bd-rad-2);
    box-shadow: var(--shadow-2);
    
}
.container-main .sect-1 .card:hover{
    scale: 1.02;
}
.container-main .sect-1 .card h1{
    font-family: var(--font-1);
    color: var(--white);
}
.container-main .sect-2{
    flex-direction: column;
    grid-column:2;
    gap: 1rem;
}
.container-main .btns{
    display: flex;
    gap: 2rem;
}
.container-main .btns .btn{
    box-shadow: var(--shadow-);
}
.container-main .btns div:first-child{
    background-color: var(--black);
    color: var(--white);
}
.container-main .btns .btn:hover{
    background-color: var(--black);
    color: var(--white);
}
.container-main .btns div:first-child:hover{
    background-color: var(--white);
    color: var(--black);
}
.container-main .sect-3{
    grid-column: 3;
    flex-direction: column; 
    background-color: var(--black);
    border-radius: var(--bd-rad-1);
    box-shadow: var(--shadow-1);
}
.container-main div:first-child img{
    width: 15vw;
}
/* FOOTER STYLES */
footer{
    box-shadow: var(--shadow-1);
    height: 9vh;
}
footer h1{
    font-family: var(--font-1);
    font-size: 1.5rem;
}
/* Responsive */
@media screen and (max-width:660px) {
    main{
        flex-direction: column;

    }
}