@keyframes robot {from {background-position: 0px;}to {background-position: -1827px;}}
@-ms-keyframes robot {from {background-position: 0px;}to {background-position: -1827px;}}
@-o-keyframes robot {from {background-position: 0px;}to {background-position: -1827px;}}
@-moz-keyframes robot {from {background-position: 0px;}to {background-position: -1827px;}}

.robot {
    /* EL WIDTH Y HEIGHT TIENE QUE SER CONSTANTE*/
    width: 100px;
    height: 100px;

    background-image: url("img/hello.png");/*imagen*/

    /*animaciones*/
    -ms-animation: robot 1s steps() 1;
    -webkit-animation: robot 1s steps(18, end) 1;
    -moz-animation: robot 1s steps(18, end) 1;
    -o-animation: robot 1s steps(18, end) 1;
    animation: robot 1s steps(18, end) 1;
}